.card_container {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
  }
  
  .card_container:hover {
    transform: scale(1.05);
  }
  
  .member_name {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .member_photo {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .member_photo:hover {
    transform: scale(1.1);
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  